# DataFrames

DataFrames are main and most important tool when working with pandas. They are inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [1]:
import pandas as pd
import numpy as np

# Creating a DataFrame

#### df = pd.DataFrame(data, index, columns, ...)

In order to create a DataFrame, I'm first going to use `randn` in order to create a random seed.

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
# Creating a DataFrame

df = pd.DataFrame(data = randn(5,4),index=["A","B","C","D","E"],columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

# Operations with Columns & Rows

#### Creating a new column

In [5]:
# Creating a new column using two columns

df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [6]:
df["new2"] = [1,2,3,4,5]
df

          W         X         Y         Z       new  new2
A  2.706850  0.628133  0.907969  0.503826  3.614819     1
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959     2
C -2.018168  0.740122  0.528813 -0.589001 -1.489355     3
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542     4
E  0.190794  1.978757  2.605967  0.683509  2.796762     5

#### Droping a column

We need to specify `axis = 1` so that it understands that we are reffering to the column name. We also have to specify as an argument `inplace = True` if we want the DataFrame to be replace the original. This is done in order to make sure we don't accidentally loose information.

In [7]:
df.drop("new2", axis = 1)

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [8]:
# Not inplace unless specified!
df

          W         X         Y         Z       new  new2
A  2.706850  0.628133  0.907969  0.503826  3.614819     1
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959     2
C -2.018168  0.740122  0.528813 -0.589001 -1.489355     3
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542     4
E  0.190794  1.978757  2.605967  0.683509  2.796762     5

In [9]:
df.drop(["new","new2"],axis=1,inplace=True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### Droping a row

Here, we have to use `axis = 0`.

In [10]:
# This will not replace the original DataFrame
df.drop('E', axis = 0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

# Selection and Indexing

Each column is actually a Series, so we can do the same operations with them.

In [11]:
# Grabing a column

df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [12]:
type(df["W"])

pandas.core.series.Series

In [13]:
# Grabing two columns

df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

#### Selecting Rows

There are two ways of selecting rows:
* `loc[]` : based on the row index label name
* `iloc[]`: based on the position, instead of the label

In [14]:
# Selecting row A based on label name

df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [15]:
# Selecting a row based off of position instead of label

df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

#### Selecting subset of rows and columns

In [16]:
df.loc['B','Y']

-0.8480769834036315

In [17]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

# Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy.

In [18]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
# Will get a boolean result

df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [20]:
# Will get the actual results based on the condition
# In case that a value does not meet the condition, it will pass a null value

df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
# Boolean results based a single column 

df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [22]:
# Will not show any rows where the condition is not met

df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [23]:
# Will only show values on a single column

df[df['W']>0]['W']

A    2.706850
B    0.651118
D    0.188695
E    0.190794
Name: W, dtype: float64

In [24]:
# Will show values on multiple columns

df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [25]:
# For two conditions you can use | and & with parenthesis:

df[(df['W']>0 ) & (df['X'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [26]:
# We can save a resulting selection to a new DataFrame
# | -> or
# & -> and

results_df = df[(df['W']>0 ) & (df['X'] > 1)]
results_df

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

# Indexing Operations

Pandas has advanced features of indexing, including resetting the index or setting it something else.

Notice that if we want to replace the original DataFrame, we have to use ` inplace = True`.

In [27]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### Reset_Index()

Will reset the index to 0,1... n. The previous index column will be shifted and become a new column.

In [28]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

#### Set_Index()

Will replace the previous index.

In [29]:
# Creating a list
newind = 'CA NY WY OR CO'.split()

# Adding the list to the DataFrame
df['States'] = newind
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [30]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

# MultiIndex and Index Hierarchy

A MultiIndex, also known as a multi-level index or hierarchical index, allows you to have multiple columns acting as a row identifier, while having each index column related to another through a parent/child relationship.

In [31]:
# Creating two lists
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

In [32]:
# Creating a tuple based on the previous two lists

hier_index = list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [33]:
# Transforming the tuple into a MultiIndex

hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [34]:
type(hier_index)

pandas.core.indexes.multi.MultiIndex

In [35]:
# Creating a DataFrame

df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [36]:
df.loc['G1']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [37]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

We can give the two sets of indexes names using `df.index.names`.

In [38]:
df.loc["G1"].loc[1]["B"]

1.693722925204035

In [39]:
# At the moment, the indexes don't have a name

df.index.names

FrozenList([None, None])

In [40]:
# Assign names

df.index.names = ['Group','Num']
df

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

`df.xs()` returns a cross-section of rows or columns from the DataFrame. It's used when we have a multi-level index, and it can make slicing easier.

In [41]:
df.xs("G1")

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [42]:
df.xs(['G1',1])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  """Entry point for launching an IPython kernel.

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [43]:
df.xs(1,level='Num')

              A         B
Group
G1     0.302665  1.693723
G2     0.166905  0.184502