# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [1]:
import pandas as pd

In [2]:
# Createing a dataframe

df = pd.DataFrame({'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]})
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

The `df.groupby()` method allows us to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object.

In [3]:
# Grouping the data based on the Company

df.groupby('Company')

In [4]:
# Saving the result to a variable

by_comp = df.groupby('Company')

It order to display our result, we have to use an aggregate function so that python knows how to deal with the data.

In [5]:
# Using mean to get averages

by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [6]:
# We can do everything in one line

df.groupby('Company').mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [7]:
# Getting the average for FB

df.groupby('Company').mean().loc["FB"]

Sales    296.5
Name: FB, dtype: float64

In [8]:
# Getting the maximum
# In this case, we will also get the person latest on the alphabet

df.groupby('Company').max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [9]:
# Standard deviation

df.groupby('Company').std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [10]:
# Getting a count of individual items

df.groupby('Company').count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

Using `describe()` will get more statistical information regarding our DataFrame.

In [11]:
df.groupby('Company').describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [12]:
# Transposing our described DataFrame

df.groupby('Company').describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [13]:
# Described data for GOOG

df.groupby('Company').describe().transpose()['GOOG']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64