# Operations

There are lots of operations with pandas that will be really useful to you

In [1]:
import pandas as pd

In [2]:
# Creating a simple DataFrame

df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

# Info on Unique Values

In [3]:
# Finding all the unique values in a column

df['col2'].unique()

array([444, 555, 666])

In [4]:
# Finding all the unique values in a row

df.loc[0].unique()

array([1, 444, 'abc'], dtype=object)

In [5]:
# Number of unique values

df['col2'].nunique()

3

In [6]:
# Counting unique values

df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

# Applying Functions

#### apply(function)

In [7]:
# Creating a simple function

def times2(x):
    return x*2

In [8]:
# Use apply to initiate the function

df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [9]:
# Works with built-in functions

df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [10]:
# We can use lambda functions with apply

df['col2'].apply(lambda x: x**2)

0    197136
1    308025
2    443556
3    197136
Name: col2, dtype: int64

# Sorting and Ordering a DataFrame

#### df.sort_value(by)

We can sort and order our DataFrame using `df.sort_values`. Remember that `inplace = False` by default

In [11]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [12]:
# Note that the index values remains attached to the rows

df.sort_values(by='col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [13]:
# Use reset_index

df.sort_values(by='col2').reset_index()

   index  col1  col2 col3
0      0     1   444  abc
1      3     4   444  xyz
2      1     2   555  def
3      2     3   666  ghi

# Pivot Table

#### df.pivot_table(values, index, columns)

The pivot table is an important tool when working with pandas. It is esentailly the same as pivot tables from Excel.

In [14]:
df = pd.DataFrame({'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]})

display(df)

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [15]:
# Creating a pivot table based on the D column
# A and B are grouped in a multilevel index

df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN